<section id="about">

  <article>
    <h3>Sobre mí</h3>
    <p>
      Soy David, un profesional altamente cualificado en el campo de la arquitectura técnica con una extensa trayectoria
      en el
      desarrollo y ejecución de estrategias para proyectos arquitectónicos.
    </p>
    <p>
      Mi experiencia incluye la gestión de presupuestos, la elaboración de arquitecturas adaptadas a diversos casos de
      uso y
      el liderazgo de equipos multidisciplinarios.
    </p>
    <p>

      Mi enfoque se centra en la optimización de recursos y la eficiencia en cada etapa de un proyecto.
    </p>
    <p>Como líder de equipos, mi responsabilidad es garantizar que se mantenga un alto estándar de calidad y que los
      proyectos
      sean ejecutados de manera escalable y rentable.</p>
    <p>
      Estoy interesado en explorar nuevas oportunidades en el campo de la arquitectura técnica y colaborar en proyectos
      desafiantes con equipos comprometidos. Mi enfoque profesional se basa en la excelencia y en la consecución de los
      objetivos organizacionales.
    </p>
  </article>
</section>