$bottom-bar-height: 1rem;
$font-size: 0.7rem;
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: calc(100%);
  padding: 0 var(--padding-page);
  z-index: 10;
  left: 0;
  bottom: 0;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--padding-page);
    background-color: var(--bg-200);
  }

  > ul {
    margin-bottom: $bottom-bar-height;
    background-color: var(--bg-200);
    padding: 1rem var(--padding-page) 1rem 0;
    border-radius: 0 var(--border-radius) 0 0;
    display: inline-flex;
    gap: 1.5rem;
    position: relative;

    li {
      a {
        display: inline-flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
        letter-spacing: 2px;
        ::ng-deep svg {
          fill: var(--text-100);
          height: $font-size;
        }
      }
    }
  }
}
