$bottom-bar-height: 1rem;
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: calc(100%);
  padding: 0 var(--padding-page);
  z-index: 10;
  left: 0;
  bottom: 0;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--padding-page);
    background-color: var(--bg-200);
  }

  > ul {
    margin-bottom: $bottom-bar-height;
    margin-left: calc(var(--padding-page) * -1);
    background-color: var(--bg-200);
    padding: 1rem 1rem var(--padding-page);
    border-radius: 0 var(--border-radius) 0 0;
    display: inline-flex;
    gap: 1.5rem;
    position: relative;
    @media (width <= 768px) {
      padding: 1rem 1.5rem var(--padding-page);
    }
    li {
      a {
        display: inline-flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
        letter-spacing: 2px;

        ::ng-deep svg {
          fill: var(--text-100);
          height: 0.7rem;
          @media (width <= 768px) {
            height: 5vw;
          }
        }
        > span.text {
          @media (width <= 768px) {
            display: none;
          }
        }
      }
    }
  }
}
