//colors
$white: #fff;
$color_golden_grass_approx: #d6a41d;
$black_70: rgba(0,0,0,0.7);
$black_30: rgba(0,0,0,0.3);
$color_suva_gray_approx: #888888;
$black_10: rgba(0,0,0,0.1);
$color_golden_grass_15_approx: rgba(214, 164, 29,0.15);
$black_50: rgba(0,0,0,0.5);

//fonts
$font_0: Arbutus Slab;

//urls
$url_0: url(/assets/img/climb2.jpg);

@-webkit-keyframes load {
	0% {
		clip-path: polygon(0vw 0, 0 100vh, 100vw 100vh, 0 100vh);
		animation-timing-function: cubic-bezier(1, 1,1, 0.7);
	}
	75% {
		clip-path: polygon(0vw 0, 100vw 100vh, 100vw 100vh, 0 100vh);
		animation-timing-function: cubic-bezier(0.4, 0.4, 0.4, 0.4);
	}
	100% {
		clip-path: polygon(0vw 0, 100vw 0, 100vw 100vh, 0 100vh);
		animation-timing-function: cubic-bezier(0.7, 1, 1, 1);
	}
}
@-moz-keyframes load {
	0% {
		clip-path: polygon(0vw 0, 0 100vh, 100vw 100vh, 0 100vh);
		animation-timing-function: cubic-bezier(1, 1,1, 0.7);
	}
	75% {
		clip-path: polygon(0vw 0, 100vw 100vh, 100vw 100vh, 0 100vh);
		animation-timing-function: cubic-bezier(0.4, 0.4, 0.4, 0.4);
	}
	100% {
		clip-path: polygon(0vw 0, 100vw 0, 100vw 100vh, 0 100vh);
		animation-timing-function: cubic-bezier(0.7, 1, 1, 1);
	}
}
@-o-keyframes load {
	0% {
		clip-path: polygon(0vw 0, 0 100vh, 100vw 100vh, 0 100vh);
		animation-timing-function: cubic-bezier(1, 1,1, 0.7);
	}
	75% {
		clip-path: polygon(0vw 0, 100vw 100vh, 100vw 100vh, 0 100vh);
		animation-timing-function: cubic-bezier(0.4, 0.4, 0.4, 0.4);
	}
	100% {
		clip-path: polygon(0vw 0, 100vw 0, 100vw 100vh, 0 100vh);
		animation-timing-function: cubic-bezier(0.7, 1, 1, 1);
	}
}
@keyframes load {
	0% {
		clip-path: polygon(0vw 0, 0 100vh, 100vw 100vh, 0 100vh);
		animation-timing-function: cubic-bezier(1, 1,1, 0.7);
	}
	75% {
		clip-path: polygon(0vw 0, 100vw 100vh, 100vw 100vh, 0 100vh);
		animation-timing-function: cubic-bezier(0.4, 0.4, 0.4, 0.4);
	}
	100% {
		clip-path: polygon(0vw 0, 100vw 0, 100vw 100vh, 0 100vh);
		animation-timing-function: cubic-bezier(0.7, 1, 1, 1);
	}
}
@keyframes loadbg {
	0% {
		opacity: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(30vh);
	}
	100% {
		opacity: 1;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(0vh);
	}
}
@keyframes bg1 {
	0% {
		background-position: -14.1vw -20.3vh;
	}
	100% {
		background-position: 40% 0;
	}
}
@keyframes bg2 {
	0% {
		background-position: -26.1vw -20.3vh;
	}
	100% {
		background-position: 40% 30%;
	}
}
@keyframes bg3 {
	0% {
		background-position: -38vw -20.3vh;
	}
	100% {
		background-position: 79% 0;
	}
}
@keyframes bg4 {
	0% {
		background-position: -14.15vw -70.1vh;
	}
	100% {
		background-position: 0 80%;
	}
}
@keyframes bg5 {
	0% {
		background-position: -26.1vw -70.1vh;
	}
	100% {
		background-position: 17% 100%;
	}
}
@keyframes bg6 {
	0% {
		background-position: -38vw -70.1vh;
	}
	100% {
		background-position: 49% 91%;
	}
}
@keyframes in {
	0% {
		opacity: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(1vw);
	}
	100% {
		opacity: 1;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(0vw);
	}
}
.close {
	position: fixed;
	right: 30px;
	top: 30px;
}
#workflow {
	width: 100%;
	max-height: 100vh;
	overflow: hidden;
	clip-path: polygon(0vw 0, 0 100vh, 100vw 100vh, 0 100vh);
	animation-name: load;
	animation-duration: 1000ms;
	animation-direction: normal;
	animation-fill-mode: both;
	animation-delay: 1.3s;
	> article {
		width: 50%;
		height: 100vh;
		float: left;
		position: relative;
		&:nth-child(1) {
			background-color: $white;
			width: 43%;
			&:before {
				width: 0;
				height: 0;
				content: '';
				position: absolute;
				left: 0;
				top: 21vh;
				border-style: solid;
				border-width: 29vh 0 29vh 6.9vw;
				border-color: transparent transparent transparent $white;
			}
			> ul > li {
				background: $black_10;
				position: absolute;
				width: 56%;
				z-index: 2;
				height: 50vh;
				filter: contrast(0.7);
				background-repeat: no-repeat;
				background-size: auto 120vh;
				background-image: $url_0;
				animation-duration: 1000ms;
				animation-direction: normal;
				animation-fill-mode: both;
				animation-timing-function: cubic-bezier(1, 0.4, 0.4, 1);
				animation-delay: 2.6s;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: transform 300ms cubic-bezier(1,0.4,0.4,1) 0ms;
				&:hover {
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: scale(1.05);
					z-index: 3;
					background-size: auto 150vh;
					//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: transform 300ms cubic-bezier(1,0.4,0.4,1) 0ms ,filter 300ms linear 0ms , background 5s linear;
				}
				&.hover {
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: scale(1.05);
					z-index: 3;
					background-size: auto 150vh;
					//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: transform 300ms cubic-bezier(1,0.4,0.4,1) 0ms ,filter 300ms linear 0ms , background 5s linear;
				}
				> a {
					display: block;
					width: 100%;
					height: 100%;
					display: table;
					> div {
						display: table-cell;
						vertical-align: middle;
						text-align: center;
					}
				}
				&:nth-child(1) {
					top: 0;
					left: -12%;
					clip-path: polygon(0% 0, 50% 100%, 50% 100%, 100% 0);
					background-color: $color_golden_grass_15_approx;
					animation-name: bg1;
				}
				&:nth-child(2) {
					top: 0;
					left: 16%;
					clip-path: polygon(50% 0, 0 100%, 100% 100%, 50% 0);
					animation-name: bg2;
				}
				&:nth-child(3) {
					top: 0;
					right: 0;
					clip-path: polygon(0% 0, 50% 100%, 50% 100%, 100% 0);
					animation-name: bg3;
				}
				&:nth-child(4) {
					bottom: 0;
					left: -12%;
					clip-path: polygon(50% 0, 0 100%, 100% 100%, 50% 0);
					animation-name: bg4;
				}
				&:nth-child(5) {
					bottom: 0;
					left: 16%;
					clip-path: polygon(0% 0, 50% 100%, 50% 100%, 100% 0);
					animation-name: bg5;
				}
				&:nth-child(6) {
					bottom: 0;
					right: 0;
					clip-path: polygon(50% 0, 0 100%, 100% 100%, 50% 0);
					animation-name: bg6;
				}
			}
		}
		&:nth-child(2) {
			width: 50%;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 25%;
			background: $white;
			clip-path: polygon(25vw -30vh, 5.5vw 50vh, 25vw 130vh, 43.9vw 50vh);
			> div {
				padding: 3vw 8vw;
				text-align: center;
				> h1 {
					margin-bottom: 2.5vmax;
				}
				> div {
					> p {
						max-width: 24vw;
						margin: 0 auto;
					}
					> div {
						&#info {
							padding: 0 4.3vw;
							> span {
								font-family: $font_0;
								color: $black_30;
								font-size: 14px;
								font-style: italic;
								padding: 0 0.5vw;
								margin-bottom: 0.5vw;
								display: inline-block;
								animation-name: in;
								animation-duration: 600ms;
								animation-direction: normal;
								animation-fill-mode: both;
								animation-delay: 0.1s;
								font-weight: bold;
							}
						}
						&#languages {
							animation-name: in;
							margin: 0 4.3vw;
							padding-top: 2vw;
							border-top: 1px solid $color_golden_grass_approx;
							animation-duration: 600ms;
							animation-direction: normal;
							animation-fill-mode: both;
							animation-delay: 0.6s;
							span {
								display: inline-block;
								margin: 0 0.3vw;
								font-size: 13px;
								font-weight: 500;
								line-height: 1.3vw;
								color: $color_suva_gray_approx;
							}
						}
					}
				}
				h2 {
					font-size: 1.7vw;
					color:#888;
					font-weight: 900;
					animation-name: in;
					animation-duration: 600ms;
					animation-direction: normal;
					animation-fill-mode: both;
					animation-delay: 0.2s;
					margin-bottom: 0.5vw;
				}
				h3 {
					font-size: 1vw;
					margin: 0 auto;
					margin-bottom: 2vw;
					max-width: 24vw;
					color: $color_golden_grass_approx;
					animation-name: in;
					animation-duration: 600ms;
					animation-direction: normal;
					animation-fill-mode: both;
					animation-delay: 0.3s;
				}
				p {
					font-size: 14px;
					line-height: 20px;
					
					margin-bottom: 2vw;
				}
				div.desc {
					padding: 0 4.4vw; 
					animation-name: in;
					animation-duration: 600ms;
					animation-direction: normal;
					animation-fill-mode: both;
					animation-delay: 0.4s;
				}
				> span#close {
					width: 25px;
					height: 25px;
					padding: 20px 0;
					display: block;
					margin: 0 auto;
					cursor: pointer;
					margin-bottom: 4.3vw;
					> span {
						display: block;
						vertical-align: middle;
						background-color: $color_golden_grass_approx;
						width: 25px;
						height: 2px;
						position: relative;
						//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
						transform: rotate(45deg);
						&:before {
							background-color: $color_golden_grass_approx;
							width: 25px;
							height: 2px;
							position: absolute;
							top: 0;
							content: '';
							left: 0;
							//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
							transform: rotate(-90deg);
						}
					}
				}
			}
		}
		&:nth-child(3) {
			width: 43%;
			margin-left: 14%;
			> img {
				filter: contrast(0.7);
				max-width: 100%;
				height: 100%;
				object-fit: cover;
				filter: contrast(0.55) sepia(0.2) grayscale(0.1) brightness(0.8);
			}
			&:before {
				width: 0;
				height: 0;
				content: '';
				right: 0;
				top: 21vh;
				position: absolute;
				z-index: 2;
				border-style: solid;
				border-width: 29vh 6.9vw 29vh 0;
				border-color: transparent $white transparent transparent;
			}
		}
	}
	.button {
		font-weight: 800;
	}
}
#currentProjects {
	max-width: 24vw;
	margin: 0 auto;
	margin-bottom: 2vw;
	animation-name: in;
	animation-duration: 600ms;
	animation-direction: normal;
	animation-fill-mode: both;
	animation-delay: 0.5s;
	> li {
		display: inline-block;
		padding: 1.2vw 0.9vw 0;
		> a {
			font-size: 13px;
			color: $color_golden_grass_approx;
			&.disabled {
				opacity: 0.5;
				color: $black_70;
			}
			&:not(.disabled):hover {
				font-weight: 600;
				text-decoration: underline;
			}
		}
	}
}
#lineBar {
	span {
		width: calc(100% / 6);
		position: relative;
		display: inline-block;
		top: 0;
		font-family: $font_0;
		font-style: italic;
		color: $black_50;
		font-weight: bolder;
		font-size: 11px;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: color 300ms linear 300ms;
		&:nth-child(even) {
			top: 7.3vh;
			&:before {
				top: -4vh !important;
			}
		}
		&:before {
			cursor: pointer;
		    width: 2vh;
		    height: 2vh;
		    content: '';
		    border: 1px solid #d6a41d;
		    display: block;
		    position: absolute;
		    top: 3.4vh;
		    -webkit-transform: rotate(45deg);
		    transform: rotate(45deg);
		    background: #fff;
		    left: 50%;
		    margin-left: -0.5vw;
		    transition: all 300ms linear;
		}
		&:hover:before {
			background: $color_golden_grass_approx;
		}
		&.hover:before {
			background: $color_golden_grass_approx;
		}
	}
	div {
		cursor: pointer;
		visibility: hidden;
		position: absolute;
		top: -1.9vw;
		left: -1.8vw;
		width: 7.5vw;
		z-index: 1;
		padding-bottom: 1vw;
		padding-top: 4.5vw;
		text-transform: uppercase;
		color: transparent;
		font-size: 14px;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: visibility 00ms linear 0ms, color 300ms linear 00ms;
		&:hover {
			text-decoration: underline;
			font-weight: 500;
		}
	}
}
.button.esp {
	margin-top: -1.87vw;
}
div#lineBar {
	position: absolute;
	top: calc(50% - 5vh);
    height: 10vh;
	left: 12vw;
	width: 26vw;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: 600ms all cubic-bezier(1,0.4,0.4,1) 00ms;
	&:before {
		content: '';
		display: block;
		background: $color_golden_grass_approx;
		width: 100%;
		height: 1px;
		position: absolute;
		top: 50%;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 200ms linear;
	}
	&.down {
		top: 85%;
		width: 4vw;
		left: 23.2vw;
		span {
			color: transparent;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: color 300ms linear 00ms;
			&:before {
				border: 1px solid $color_golden_grass_approx;
				width: 0.5vw;
				height: 0.5vw;
				top: 45px;
			}
		}
		>div {
			visibility: visible;
			transition: visibility 300ms linear 0ms, color 300ms linear 600ms;
			color: #888;
			margin-top: 30px;
			font-size: 0.6vw;
			letter-spacing: 2.4px;
			font-weight: 700;
			&:hover{
				text-decoration: none;
				color: $color_golden_grass_approx;
				transition: visibility 300ms linear 0ms, color 300ms linear 00ms;

			}
		}
		&:before {
			opacity: 0;
		}
	}
}