//colors
$color_golden_grass_approx: #d6a41d;

@keyframes init {
	0% {
		background-position: -14.1vw -20.3vh;
	}
	100% {
		background-position: 40% 0;
	}
}
p{
	font-size: 1vw;
	line-height: 1.6vw;
	margin-bottom: 1vw;
	b{
		color: $color_golden_grass_approx
	}
	
}
#menu {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -1;
	> article {
		width: 100%;
		top: 0;
		height: 100%;
		position: absolute;
		overflow: hidden;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: 1600ms all cubic-bezier(1,0.4,0.4,1) 0ms;
		cursor: pointer;
		> a {
			width: 50%;
			height: 100%;
			display: block;
			display: table;
			text-align: center;
			> video {
				position: absolute;
				top: 0;
				min-width: 100%;
				min-height: 100%;
				width: 100wmax;
				z-index: -1000;
				overflow: hidden;
				filter: blur(0px) contrast(0.7);
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: filter 1000ms;
			}
			> div {
				display: table-cell;
				vertical-align: middle;
			}
			&:hover > video {
				filter: blur(0px) contrast(1);
			}
		}
		&:nth-child(1) {
			shape-inside: polygon(0vw 0, 0 0, 0 100vh, 0 100vh);
			clip-path: polygon(0vw 0, 0 0, 0 100vh, 0 100vh);
		}
		&:nth-child(3) {
			shape-inside: polygon(100vw -100vh, 50vw 100vh,50vw 100vh, 50vw 100vh);
			clip-path: polygon(100vw 0, 100vw 100vh,100vw 100vh, 100vw 0);
		}
		&:nth-child(2) {
			
			cursor: default;
			position: absolute;
			width: 50vw;
			left: 25vw;
			clip-path: polygon(0vw 0, 50vw 0, 25vw 100vh, 0 0);
			opacity: 1;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: opacity 600ms linear 1.3s;
			> a {
				width: 100%;
				> div {
					vertical-align: top;
					padding: 3vw 8vw;
					opacity: 0;
					//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: opacity 1000ms linear 00ms;
					> h1 {
						margin-bottom: 2.5vmax;
						font-size: 1.5vw;
						color: #d6a41d;
						position: relative;
						&:before{
							width: 1.9vw;
							height: 1.9vw;
							opacity: 0.7;
							border: 1px solid #d6a41d;
							-webkit-transform: rotate(45deg);
							transform: rotate(45deg);
							position: absolute;
							top: -0.1vw;
							left: calc(50% - 1vw);
							content: '';
						}
						&:after{
							width: 2.7vw;
							height: 2.7vw;
							border: 1px solid #d6a41d;
							-webkit-transform: rotate(45deg) scale(1.1);
							transform: rotate(45deg);
							position: absolute;
							top: -0.5vw;
							left: calc(50% - 1.4vw);
							content: '';
						}
					}	
					ul{
						li{
							display:inline-block;
							position: relative;
    						margin: 2.2vw 0.9vw;
							width: 1.9vw;
							height: 1.9vw;
							&:after{
								opacity: 0.7;
							    border: 1px solid #888;
							    -webkit-transform: rotate(45deg);
							    transform: rotate(45deg);
							    position: absolute;
							    top: -0.2vw;
							    left: calc(50% - 1vw);
							    content: '';
							    width: 1.9vw;
							    height: 1.9vw;
							}
							&:hover{
								color: $color_golden_grass_approx;
								a{
									color: $color_golden_grass_approx;
								}
								&:after{
							    border: 1px solid  $color_golden_grass_approx;
								}
							}
							a{								
								font-size: 1vw;
								position: relative;
								z-index: 1;
							    line-height: 1.9vw;								
								color:#888;
								transition: 300ms linear;

							}
						}
					}				
					> span#menuButton {
						width: 25px;
						height: 25px;
						padding: 20px 0;
						display: block;
						margin: 0 auto;
						cursor: pointer;
						margin-bottom: 5vmax;
						> span {
							display: block;
							vertical-align: middle;
							background-color: $color_golden_grass_approx;
							width: 25px;
							height: 2px;
							position: relative;
							&:before {
								position: absolute;
								width: 25px;
								height: 2px;
								top: 0;
								left: 0;
								content: '';
								//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
								transform: translateY(-5px);
								background-color: $color_golden_grass_approx;
							}
							&:after {
								position: absolute;
								width: 25px;
								height: 2px;
								top: 0;
								left: 0;
								content: '';
								//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
								transform: translateY(5px);
								background-color: $color_golden_grass_approx;
							}
						}
					}
					> .button {
						position: absolute;
						top: 50%;
						left: 50%;
						margin-left: -61px;
						margin-top: -17px;
						border-bottom: 2px solid $color_golden_grass_approx;
						color: $color_golden_grass_approx;
						> b {
							&:after {
								border-bottom: 2px solid $color_golden_grass_approx;
								border-top: 2px solid $color_golden_grass_approx;
								border-left: 2px solid $color_golden_grass_approx;
							}
							&:before {
								border-bottom: 2px solid $color_golden_grass_approx;
								border-top: 2px solid $color_golden_grass_approx;
								border-right: 2px solid $color_golden_grass_approx;
							}
						}
					}
				}
			}
		}
	}
	&.open {
		> article {
			&:nth-child(1) {
				shape-inside: polygon(0vw 0, 25vw 0, 50vw 100vh, 0 100vh);
				clip-path: polygon(0vw 0, 25vw 0, 50vw 100vh, 0 100vh);
				> a > video {
					left: 0;
				}
			}
			&:nth-child(3) {
				shape-inside: polygon(50vw 0, 50vw 100vh,0vw 100vh, 25vw 0);
				clip-path: polygon(100vw 0, 100vw 100vh,50vw 100vh, 75vw 0);
				> a {
					position: relative;
					left: 50vw;
					> video {
						right: 0;
					}
				}
			}
			&:nth-child(2) > a > div {
				opacity: 1;
			}
		}
		&.left > article {
			&:nth-child(2) {
				opacity: 0;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: opacity 600ms linear 00ms;
			}
			&:nth-child(1) {
				z-index: 1;
				clip-path: polygon(0vw 0, 100vw 0, 100VW 100vh, 0 100vh);
				> a > div {
					opacity: 0;
					//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: opacity 300ms;
				}
			}
		}
		&.right > article:nth-child(3) {
			z-index: 1;
			clip-path: polygon(100vw 0, 100vw 100vh,0vw 100vh, 0 0);
			> a > div {
				opacity: 0;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: opacity 300ms;
			}
		}
	}
}