<section id="menu" [class]="this.classMenu">
	<article>
		<a (click)="goTo('left')">
			<div>
				<button data-parent="About" class="button">
					<b>{{'EDUCATION.NAME' | translate}}</b>
				</button>
			</div>
			
			<video autoplay="yes" loop>
			 	<source src="assets/video/studyingOriginal.webm" type="video/mp4"> 
			</video>
		</a>
	</article>
	<article>
		<a>		
			<div>  
				<h1 [routerLink]="['/']">David Dávila</h1>				
				<div class="desc" [innerHTML]="'HOME.DESCRIPTION' | translate"></div>			
				<ul>
					<li><a class="icon-github-alt" href="https://github.com/DavidDavila" target="_blank"></a></li>
					<li><a class="icon-linkedin" href="https://www.linkedin.com/in/daviddavilapino/" target="_blank"></a></li>
					<li><a class="icon-file-text-o" download href="assets/dowloads/DavidDavilaPino_CV.pdf"></a></li>
					<li><a class="icon-phone" target="_blank" href="tel:669940214"></a></li>
					<li><a class="icon-envelope-o" target="_blank" href="mailto:daviddavilapino@gmail.com?Subject=Oferta%20de%20trabajo"></a></li>
				</ul>
			</div>
		</a>
		
	</article>
	<article>
		<a (click)="goTo('right')">
			<div>
				<button data-parent="About" class="button">
					<b>{{'WORKFLOW.NAME' | translate}}</b>
				</button>	
			</div>	
		
			<video autoplay="yes" loop>
			 	<source src="assets/video/workingOriginal.webm" type="video/mp4"> 
			</video>
		</a>
	</article> 	
</section>
<work-flow [hidden]="this.currentView != 'right' " (userUpdated)="userUpdated()"></work-flow>
<studies [hidden]="this.currentView != 'left' " (userUpdated)="userUpdated()"></studies>