main {
  view-timeline-name: --main-scroll;
  overflow: hidden;
  background-color: var(--bg-100);
  margin: 0 var(--padding-page);
  @media (width <= 768px) {
    margin: 0;
  }
  > * {
    display: block;
  }
  laptop-component {
    display: block;
    position: fixed;
    inset: 0;
  }
}
